nav.page-menu {
  @include flex-container(center, column);

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      margin-right: 15px;

      &:last-child {
        margin-right: 0px;
      }

      a {
        font-family: HelveticaLight;
        font-size: 16px;
      }
    }
  }

  transition: right 0.3s ease-in-out;

  @media screen and (max-width: 1024px) {
      position: fixed;
      top: 90px;
      height: 100%;
      right: -100%;
      width: 360px;
      background-color: #000;
      border-top: 1px solid #e7e7e7;
      z-index: 1000;
        transition: right 0.3s ease-in-out;
      &.active {
          right: 0px;
      }

      ul {
          @include flex-container(center, column);

          li {
              text-align: center;
              margin-bottom: 20px;
              margin-right: 0px;
              a {
                  font-size: 18px;
              }
          }
      }
  }
  
  @media screen and (max-width: 640px) {
    width: 100%;
    top: 67px;
  }
}