//@import url('https://fonts.googleapis.com/css?family=Comfortaa|Lobster&subset=cyrillic');

@font-face {
    src: url('assets/fonts/black.ttf');
    font-family: HelveticaBlack;
}

@font-face {
    src: url('assets/fonts/medium.ttf');
    font-family: HelveticaRegular;
}

@font-face {
    src: url('assets/fonts/bold.ttf');
    font-family: HelveticaBold;
}

@font-face {
    src: url('assets/fonts/light.ttf');
    font-family: HelveticaLight;
}

$font-family-sans-serif: "Arial", "Helvetica", sans-serif;
$font-family-serif: "Georgia", "Times New Roman", "Times", serif;
$font-family-monospace: "Menlo", "Monaco", "Consolas", "Courier New", monospace;

$fontFamilyOne: HelveticaLight; //titles
$fontFamilyTwo: HelveticaLight; //body 
